<p>
  <b>Meter:</b>
  <%=h @meter_field.meter_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @meter_field.name %>
</p>

<p>
  <b>Data:</b>
  <%=h @meter_field.data %>
</p>


<%= link_to 'Edit', edit_meter_field_path(@meter_field) %> |
<%= link_to 'Back', meter_fields_path %>