
<%= form_for(@note, :html => { :multipart => true }) do |f| %>
  <ul class="rounded">
    <li><%= f.text_field :text, :placeholder => "Note text" %></li>
  </ul>

  <h1> Company </h1>

  <ul class="rounded">
    <li class='arrow-down'> <%= f.select :company_id, options_for_select(Company.all.map {|c| [c.name, c.id]}) %> </li>
  </ul>

  <ul class='rounded'>
    <li> 
      <%= file_field_tag('note[attached_assets_attributes][][asset]', multiple: true, name: "note[attached_assets_attributes][][asset]")%>
    </li>
  </ul>

  <%#= link_to "Delete", url_for([@company, @note]), :method => :delete, :confirm => "Are you sure that you want to delete this?", :class => "redButton delete" %>
  <%= link_to "Submit", nil, :class => "whiteButton submit" %>
<% end %>

