<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div id='companies_form'>
  <ul class="rounded">
    <li><%= f.text_field :name, :placeholder => 'Company name' %>

  </ul>
  <ul class="rounded">
    <li><%= f.text_field :description, :placeholder => 'Company description' %>
  </ul>
 </div>

<div>
  <%= link_to_function "Submit", "$('form').submit()", :class => "whiteButton submit" %>
</div>
<% end %>

